.box1 {
    /*    padding: 0.5em 5em;*/
    padding: 100px 5em;
    margin: 2em 0;
    border: double 5px #4ec4d3;    
    position: relative;
}
.box1 h1.title {
    margin: 0; 
    padding: 0;
    text-align:left;
    font-size:;
}

.box1 img {
  position: absolute;
  display: block;
  width: 400px;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: -400;
  margin: auto;
}
/*.box1 img{
    position: absolute;
    left: 50%;
    margin-left: -400px;

}*/


.box1 p {
    margin: 0;
    margin-right: 500px;
    padding: 0;
    text-align: left;
    overflow: hidden;
}



/*
.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}
.box2 p {
    margin: 0; 
    padding: 0;
}
*/

.box3 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}
.box3 p {
    margin: 0; 
    padding: 0;
}
